{% extends 'base.html' %}
{% load static %}

{% block title %}Books - My Web{% endblock %}

{% block content %}
{% for genre, books in genre_books.items %}
    <h2 class="book-list-header">{{ genre }}</h2>
    <div class="book-list-container">
        <button class="nav-button prev" onclick="scrollBooks('{{ genre }}-list', -1)">&#9664;</button>
        <div class="book-list">
            <div class="book-list-wrapper" id="{{ genre }}-list">
                {% for book in books %}
                <a href="{% url 'book_detail' book.id %}" class="book-item-link">
                    <div class="book-item">
                        <img src="{{ book.cover_image }}" alt="{{ book.title }}">
                        <div class="book-info">
                            <h3>{{ book.title }}</h3>
                            <p>{{ book.author }}</p>
                            <p class="rating">Rating: {{ book.rating }}</p>
                            <p class="book-price">{{ book.price }} $</p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        <button class="nav-button next" onclick="scrollBooks('{{ genre }}-list', 1)">&#9654;</button>
    </div>
{% endfor %}
{% include 'footer.html' %}
{% endblock %}